# VSCode Files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Logs
logs/*

# Temporary Build files
build/*

# Main executable
main